html {
  background: #13161b;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #13161b;
}

.ball {
  width: 100%;
}

.gang-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin:0;
  figure{
    margin:0;
  }

  &__nickandfrank {
    width: 100%;
    position: relative;
    z-index: 3;
  }
}

@-webkit-keyframes fadeIt {
  100% { opacity: 0.6; }
}
